page-acompanhamento-lista {
   
    .score_lista {
        min-width: 100px !important;
        max-width: 100px !important;    
      }
          

      .datahora {
        min-width: 60% !important;
        max-width: 60% !important;    
      }
      
      .score_lista {
        min-width: 40% !important;
        max-width: 40% !important;    
      }
      
}

