//page-leito-lista {  
     
//}


.leito {
    min-width: 30% !important;
    max-width: 30% !important;    
}

.datahora {
    min-width: 45% !important;
    max-width: 45% !important;    
}

.score {
    min-width: 20% !important;
    max-width: 20% !important;    
}

//.searchbar-ios {
//    border-top: 20px solid transparent !important;
//    border-bottom: 1px transparent !important;    
//}